version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: payflow
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/payflow
      REDIS_URL: redis://redis:6379/0
    env_file:
      - .env

  celery_worker:
    build: .
    command: celery -A app.jobs.celery_app worker --loglevel=info
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/payflow
      REDIS_URL: redis://redis:6379/0
    env_file:
      - .env

  celery_beat:
    build: .
    command: celery -A app.jobs.celery_app beat --loglevel=info
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/payflow
      REDIS_URL: redis://redis:6379/0
    env_file:
      - .env

volumes:
  postgres_data:
